<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.careerguide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
<!--    <uses-permission android:name="android.permission.CAMERA" />-->

    <application
        tools:ignore="LockedOrientationActivity"
        android:name="com.ZohoSalesiq"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup" >
        <activity android:name=".activity.SeeAllActivity"
            android:launchMode="singleTop">
        </activity>
        <activity android:name=".LoadPdf" />
        <activity android:name=".blog.activity.MainBlog" />
        <activity
            android:name=".youtubeVideo.youtubeFeedDetail"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Book_Appoinment.BookingTime"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Book_Appoinment.BookCounsellor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AllCounsellor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SubcategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".video_chat_counsellor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Live_counsellor" />
        <activity
            android:name=".activity.GoalsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".All_done" />
        <activity
            android:name=".CounsellorProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewerLiveActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".AgoraBaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnBoardingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitlebar" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app.careerguide.com"
                    android:pathPrefix="/api/main/forgot_otp"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FacebookSignUp"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AssessmentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuestionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PassageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity_live_counsellor"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PsychometricTestsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PauseActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".WebViewActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileDetailActivity"
            android:configChanges="orientation"
            android:label="Profile Details"
            android:screenOrientation="portrait" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
        <activity
            android:name=".SettingActivity"
            android:configChanges="orientation"
            android:label="Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentGateway"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CheckOutActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlanActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VideoChatViewActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.feedDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LiveRoomsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BaseLiveActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".TokBoxVideoCall" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".Refer_a_friend" />
        <activity android:name=".exoplayerActivity" />
        <activity
            android:name=".youtubeVideo.CM_youtubePlaylist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ebookpdf" />
        <activity android:name=".payment.PaymentActivity" />
        <activity
            android:name=".blog.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".blog.BlogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Activity_class"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".blog.activity.CatNotifiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".blog.activity.CatListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".blog.activity.CatDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".blog.activity.CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".blog.activity.CatDetailWoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".newsfeed.FeedViewActivity"/>
        <activity android:name=".newsfeed.NewsFeedActivity" />
        <activity
            android:name=".Video_player"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/AppTheme.NoActionBar"> <!-- <receiver android:name=".SmsReceiver"> -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="counsellor.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity> <!-- <receiver android:name=".SmsReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity android:name=".Onboarding" />
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <!--
            <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        -->
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <!--
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>
        -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_ZdLWHqNUefQJV6" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseInstanceIdService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>